<h1>Gimme City!</h1>
<form action="/cities" method="post">
  <label for="cityInput">Enter city name</label>
  <input type="text" name="cityInput" id="cityInput" required>
  <button type="submit">Gimme</button>
</form>
